* {
  box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100%;
}

.header {
  position: relative;
  z-index: 1;
  background-color: #f6f7fd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  margin: 0;
  animation-name: header-animation;
  animation-duration: 0.7s;
  animation-timing-function: linear;
}

@keyframes header-animation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.logo {
  width: 130px;
  min-width: 105px;
  margin-right: 20px;
}

.side-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-logo {
  position: relative;
}

.bell-ico img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  cursor: pointer;
  opacity: 60%;
  transition: opacity 0.2s ease;
}

.bell-ico img:hover {
  opacity: 100%;
}

.user-label {
  color: white;
  display: block;
  background-color: #c3a6ec;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 25px;
  font-family: sans-serif;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  opacity: 0.8;
}

.user-label:hover {
  opacity: 100%;
}

.label-checkbox {
  display: none;
}

.user-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 200px;
  background-color: white;
  border: 1px solid #ebebeb;
  box-shadow: 0px 0px 10px #e5e5e5;
}

.user-label + .label-checkbox:checked + .user-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
}

.username {
  color: #5f5e5e;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 0px 10px;
  margin: 0 20px;
  border-bottom: 1px solid black;
}

.menu-item:hover {
  background-color: #f6f7fd;
  transition: 0.5s;
}

p {
  margin: 0;
  padding: 0;
}

.user-menu li {
  display: block;
  margin: 2px;
  align-items: center;
  margin: 0;
}

.header a {
  display: block;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.not-found-err {
  position: relative;
  margin: 0 7%;
}

.not-found-err h1 {
  position: relative;
  text-align: center;
  margin: 0;
  font-size: 230px;
  font-family: "Fira Sans", sans-serif;
  color: #f7991c;
  text-shadow: 3px 3px 5px #5a5a5a;
}

.not-found-err h2 {
  background-color: rgba(246, 247, 253, 0.9);
  padding: 10px;
  position: relative;
  text-align: center;
  margin: 0;
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
  color: #5a5a5a;
}

.content {
  padding: 0 40px;
  flex-grow: 1;
  /*background: url("assets/travolta.gif") center bottom/ 100px 100px repeat-x;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content:hover .inner {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .not-found-err h1 {
    font-size: 150px;
  }

  .not-found-err h2 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 480px) {
  .not-found-err h1 {
    font-size: 100px;
  }
  .not-found-err h2 {
    font-size: 15px;
  }
}

.notifications {
  position: fixed;
  max-height: 100%;
  bottom: 0;
  right: 0;
  padding: 15px;
  z-index: 2;
  overflow-y: auto;
}

.notification {
  position: relative;
  color: #ffffff;
  border-radius: 3px;
  padding: 15px 10px 15px 50px;
  margin-top: 15px;
  width: 230px;
  overflow: hidden;
  font-family: "Fira Sans", sans-serif;
}

.notification .title {
  font-weight: bold;
}

.notification:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50px;
}

.notification.error {
  background-color: rgba(245, 73, 80, 0.9);
}

.notification.error:before {
  background: url("assets/error.svg") center center no-repeat;
}

.notification.success {
  background-color: rgba(79, 182, 82, 0.9);
}

.notification.success:before {
  background: url("assets/success.svg") center center no-repeat;
}

.notification.warning {
  background-color: rgba(240, 193, 41, 0.9);
}

.notification.warning:before {
  background: url("assets/error.svg") center center no-repeat;
}
